/* responsive media query start*/ 

@media (max-width: 900px){
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .Skills-content .column{
        width: 100%;
    }
    .contact .contact-content .column{
        width: 100%;
    }
}
@media (max-width: 1200px){   
    .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1100px){   
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 960px){   
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text2{
        font-size: 70px;
    }
    .home .home-content .text3{
        font-size: 35px;
    }
}
@media (max-width: 1024px) {
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 570px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text2{
        font-size: 60px;
    }
    .home .home-content .text3{
        font-size: 32px;
    }
}
@media (max-width: 450px) {
    .home .home-content .text2{
        font-size: 50px;
    }
    .home .home-content .text3{
        font-size: 27px;
    }
}
@media (max-width: 383px) {
    .skills .title::after{
        content: none;
        text-decoration: none;
    }
    .skills .title::before{
        content: none;
        text-decoration: none;
    }
}